# Формат datetime


>  Формат datetime записывается как __YYYY-MM-DD HH: MM: SS__

In [89]:
import pandas as pd
melb_data_ps = pd.read_csv('data/melb_data_ps.csv', sep=',')

In [90]:
melb_df_dt = melb_data_ps.copy()

In [91]:
melb_df_dt.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [92]:
melb_df_dt['Date']

0         3/12/2016
1         4/02/2016
2         4/03/2017
3         4/03/2017
4         4/06/2016
            ...
13575    26/08/2017
13576    26/08/2017
13577    26/08/2017
13578    26/08/2017
13579    26/08/2017
Name: Date, Length: 13580, dtype: object

In [93]:
melb_df_dt['Date'] = pd.to_datetime(melb_df_dt['Date'], dayfirst=True)
melb_df_dt['Date']

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [94]:
melb_df_dt['Date'].mode()

0   2017-05-27
Name: Date, dtype: datetime64[ns]

# Выделение атрибутов datetime

> Тип данных __datetime__ позволяет с помощью специального ___аксессора dt__ выделять составляющие времени из каждого элемента столбца, такие как:
- __date__ — дата;
- __year, month, day__ — год, месяц, день;
- __time__ — время;
- __hour, minute, second__ — час, минута, секунда;
- __dayofweek__ — номер дня недели, от 0 до 6, где 0 — понедельник, 6 — воскресенье;
- __day_name__ — название дня недели;
- __dayofyear__ — порядковый день года;
- __quarter__ — квартал (интервал в три месяца).

In [95]:
sold_year = melb_df_dt['Date'].dt.year
melb_df_dt['YearSold'] = sold_year
print(sold_year)
print(f'Min sold year {sold_year.min()}')
print(f'Max sold year {sold_year.max()}')
print(f'Mode sold year {sold_year.mode()[0]}')

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int32
Min sold year 2016
Max sold year 2017
Mode sold year 2017

In [96]:
melb_df_dt

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,YearSold
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,...,202.0,126.0,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984",2016
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,...,156.0,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934",2016
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,...,134.0,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944",2017
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,...,94.0,126.0,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969",2017
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,...,120.0,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941",2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,...,652.0,126.0,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761",2017
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,...,333.0,133.0,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904",2017
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,...,436.0,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738",2017
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,...,866.0,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299",2017
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,...,362.0,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449",2017

In [97]:
sold_month_num = melb_df_dt['Date'].dt.month
print(sold_month_num)
print(f'Mode sold month {sold_month_num.mode()[0]}')

0        12
1         2
2         3
3         3
4         6
         ..
13575     8
13576     8
13577     8
13578     8
13579     8
Name: Date, Length: 13580, dtype: int32
Mode sold month 5

In [98]:
melb_df_dt['MonthSold'] = sold_month_num
melb_df_dt

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,YearSold,MonthSold
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,...,126.0,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984",2016,12
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,...,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934",2016,2
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,...,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944",2017,3
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,...,126.0,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969",2017,3
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,...,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941",2016,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,...,126.0,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761",2017,8
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,...,133.0,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904",2017,8
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,...,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738",2017,8
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,...,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299",2017,8
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,...,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449",2017,8

In [99]:
melb_df_dt['MonthSold'].value_counts(normalize=True)

MonthSold
5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: proportion, dtype: float64

In [100]:
sold_month_str = melb_df_dt['Date'].dt.month_name()
print(sold_month_str)
print(f'Mode sold month {sold_month_str.mode()[0]}')

0        December
1        February
2           March
3           March
4            June
           ...
13575      August
13576      August
13577      August
13578      August
13579      August
Name: Date, Length: 13580, dtype: object
Mode sold month May

In [101]:
sold_day = melb_df_dt['Date'].dt.day
print(sold_day)
print(f'Mode sold day {sold_day.mode()[0]}')

0         3
1         4
2         4
3         4
4         4
         ..
13575    26
13576    26
13577    26
13578    26
13579    26
Name: Date, Length: 13580, dtype: int32
Mode sold day 3

# Работа с интервалами

In [102]:
# сколько прошло дней от 01 января 2016 до даты фактической продажи 
delta_day = melb_df_dt['Date'] - pd.to_datetime('2016-01-01')
print(delta_day)

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

In [103]:
print(delta_day.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [104]:
melb_df_dt['AgeBiulding'] = melb_df_dt['Date'].dt.year - melb_df_dt['YearBuilt']
print(melb_df_dt['AgeBiulding'])

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBiulding, Length: 13580, dtype: int64

In [105]:
# melb_df_dt['AgeBiulding'] и  melb_df_dt['YearBuilt'] - дублируют друг друга, так как один признак можно выразить через другой
melb_df_dt = melb_df_dt.drop('YearBuilt', axis=1)
melb_df_dt

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,BuildingArea,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,YearSold,MonthSold,AgeBiulding
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,...,126.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,"-37.7996, 144.9984",2016,12,46
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,...,79.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,"-37.8079, 144.9934",2016,2,116
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,...,150.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,"-37.8093, 144.9944",2017,3,117
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,...,126.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,"-37.7969, 144.9969",2017,3,47
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,...,142.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,"-37.8072, 144.9941",2016,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,...,126.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,"-37.90562, 145.16761",2017,8,36
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,...,133.0,NaN,-37.85927,144.87904,Western Metropolitan,6380,"-37.85927, 144.87904",2017,8,22
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,...,126.0,NaN,-37.85274,144.88738,Western Metropolitan,6380,"-37.85274, 144.88738",2017,8,20
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,...,157.0,NaN,-37.85908,144.89299,Western Metropolitan,6380,"-37.85908, 144.89299",2017,8,97
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,...,112.0,NaN,-37.81188,144.88449,Western Metropolitan,6543,"-37.81188, 144.88449",2017,8,97

In [106]:
melb_df_dt['WeekdaySale'] = melb_df_dt['Date'].dt.dayofweek
melb_df_dt['WeekdaySale'].value_counts()[5] + melb_df_dt['WeekdaySale'].value_counts()[6]

np.int64(12822)

# Самостоятельные работы Unit_4

In [107]:
ufo_data = pd.read_csv('data/ufo_data.csv', sep=',')
ufo_data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [108]:
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'])
ufo_data['Time']

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [109]:
ufo_data['Time'].dt.year.mode()[0]

np.float64(1999.0)

In [110]:
ufo_data['Year'] = ufo_data['Time'].dt.date
ufo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2877 non-null   object
 2   Shape Reported   15563 non-null  object
 3   State            18204 non-null  object
 4   Time             18204 non-null  datetime64[ns]
 5   Year             18204 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 855.2+ KB

In [111]:
see_days = ufo_data[ufo_data['State'] == 'NV']['Year'].diff().mean()
see_days

Timedelta('68 days 22:18:13.992932862')

# Самостоятельные работы из Unit_5

In [112]:
def get_weekend(weekday):
    weekday_num = [5, 6]
    if weekday in weekday_num:
        return 1
    else:
        return 0
    
melb_df_dt['Weekday'] = melb_df_dt['WeekdaySale'].apply(get_weekend)
melb_df_dt[['WeekdaySale', 'Weekday']]

       WeekdaySale  Weekday
0                5        1
1                3        0
2                5        1
3                5        1
4                5        1
...            ...      ...
13575            5        1
13576            5        1
13577            5        1
13578            5        1
13579            5        1

[13580 rows x 2 columns]

In [113]:
melb_df_dt[melb_df_dt['Weekday'] == 1]['Price'].mean()

np.float64(1081198.6406956792)

In [114]:
melb_df_dt['SellerG'].nunique()

268

In [115]:
melb_df_dt['SellerG'].value_counts()

SellerG
Nelson           1565
Jellis           1316
hockingstuart    1167
Barry            1011
Ray               701
                 ...
Prowse              1
Luxe                1
Zahn                1
Homes               1
Point               1
Name: count, Length: 268, dtype: int64

In [116]:
top_49_seller = melb_df_dt['SellerG'].value_counts().nlargest(n=49).index
top_49_seller

Index(['Nelson', 'Jellis', 'hockingstuart', 'Barry', 'Ray', 'Marshall',
       'Buxton', 'Biggin', 'Brad', 'Fletchers', 'Woodards', 'Jas', 'Greg',
       'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary', 'Harcourts',
       'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine', 'Williams',
       'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR', 'O'Brien', 'C21',
       'Collins', 'Cayzer', 'Eview', 'Purplebricks', 'Philip', 'Buckingham',
       'Bells', 'Thomson', 'Nick', 'Alexkarbon', 'McDonald', 'Burnham',
       'Moonee', 'LITTLE'],
      dtype='object', name='SellerG')

In [127]:
melb_df_dt['SellerG'] = melb_df_dt['SellerG'].apply(lambda x: x if x in top_49_seller else 'other')

In [138]:
nilson_prices = melb_df_dt[(melb_df_dt['SellerG'] == 'Nelson')]['Price'].min()
other_prices = melb_df_dt[(melb_df_dt['SellerG'] == 'other')]['Price'].min()
print(nilson_prices / other_prices)

1.297709923664122