- __DataFrame__ является двумерной структурой и представляется в виде __таблицы__, в которой есть строки и столбцы: столбцами в DataFrame выступают объекты Series, а строки формируются из их элементов. Также в DataFrame есть метки (индексы), которые соответствуют каждой строке таблицы.

In [45]:
import pandas as pd

# Создание DataFrame

In [46]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
# ВНИМАНИЕ len('country') = len('population') = len('area')
display(countries_df)

     country  population      area
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [47]:
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'] 
countries_df

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [48]:
countries_df_1 = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df_1)

      country  population      area
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

# Axis в DataFrame

![axis в DataFrame](m4_u2_pic1.png)

In [49]:
countries_df.mean(axis=0, numeric_only=True)

population    9.070000e+01
area          5.800860e+06
dtype: float64

In [81]:
countries_df_1.mean(axis=1, numeric_only=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

# Доступ к данным в DataFrame

In [51]:
if not 'UK' in countries_df.index:
    print(True)
else:
    print(False)

False

In [52]:
# использование такого способа возможно только тогда, когда имя столбца указано без пробелов
countries_df.country

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: country, dtype: object

In [53]:
type(countries_df.country)

pandas.core.series.Series

In [54]:
countries_df_1['population']

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [55]:
type(countries_df_1['population'])

pandas.core.series.Series

## Доступ к элементам в DataFrame (Loc & iLoc)

In [56]:
countries_df.loc['UK', 'area']

np.int64(133396)

In [57]:
countries_df_1.loc['RU', ['area', 'population']]

area          17125191
population      146.24
Name: RU, dtype: object

In [58]:
countries_df.loc[['UA', 'BY', 'KZ'], ['population', 'area']]

    population     area
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [59]:
countries_df.iloc[4:,1:]

    population     area
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

# 123

In [85]:
import pandas as pd

income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income, expenses, years):
    return pd.DataFrame({'Income':income, 'Expenses':expenses}, index=years)

def get_profit(df, year):
    if not year in df.index:
        return None
    else: 
        return df.loc[year, 'Income'] - df.loc[year, 'Expenses']

#print(create_companyDF(income, expenses, years))
print(get_profit(create_companyDF(income, expenses, years), 2018))

322